@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  html,body{
    touch-action: manipulation;
  }

  .icon {
    border-radius: 100%;
    outline:none;
    background-color:#f4f5f6;
    box-shadow:  -6px -20px 35px #ffffff, -6px -10px 15px #ffffff, -20px 0px 30px #ffffff, 0px 0px 10px rgba(0,0,0,1);
    transition: .13s ease-in-out;
    &:active{
      box-shadow:none;
      .button__content{
        box-shadow: none;
        .button__text, .button__icon{
          transform:translate3d(0px, 0px, 0px);
          }
        }
      }
    }

  

  .skills {
    background-color: theme('colors.dark-turquoise');
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.1');
    color: white;
  }

  .links {
    background-color: theme('colors.dark-turquoise');
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.2');
    color: white;
    width: fit-content;
    margin-top: 1rem;
  }
  
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 1rem;
  }
  
  .video-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .video-responsive video {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .pdf-responsive {
    overflow: hidden;
    padding-bottom: 129%;
    position: relative;
    height: 0;
  }

  .pdf-responsive iframe{
    height: 100%;
    width: 100%;
    position: absolute;
  }
  

  h1 {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  h2 {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  @media screen and (max-width: 750px) {
    .clients {
      flex-direction: column;
    }
  }
  
}